/* Footer fix */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Common styles */

:root {
    --color-dark: #343a40;
    --color-pink: #ca02cc;
    --font-cursive: 'Indie Flower', cursive;
    --font-default: 'Noto Sans', sans-serif;
    --shadow-normal: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

body {
    font-family: var(--font-default);
    font-size: 20px;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

a {
    color: var(--color-pink);
    text-decoration: none;
}

a:hover {
    color: #820385;
}

/* Navbar */
.navbar {
    border-bottom: 1px solid var(--color-dark);
}

.navbar .nav-link {
    color: var(--color-pink) !important;
}

.navbar-toggler {
    border: none;
}

/* Hero */
#hero-image-container {
    background: url(../media/chalk.jpg) no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 62.6px);

}

#hero-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;

}

.hero-heading {
    font-size: 4rem;
}

.hero-subtitle {
    font-size: 2rem;
}

.home-img {
    width: 100%;
    border-radius: 5%;
    border: 1px solid var(--color-pink);
    box-shadow: var(--shadow-normal);
}

.callout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.callout-container p {
    padding-top: 1rem;
    text-align: center;
    font-family: var(--font-cursive);
    font-weight: 900;
    font-size: 2rem;
    ;
}

/* Text effects */
.text-shadow {
    text-shadow:
        -1px -1px 0px #000,
        0px -1px 0px #000,
        1px -1px 0px #000,
        -1px 0px 0px #000,
        1px 0px 0px #000,
        -1px 1px 0px #000,
        0px 1px 0px #000,
        1px 1px 0px #000;
}

.zoom-on-hover {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.zoom-on-hover:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/* Messages */

.alert {
    margin-bottom: 0;
    text-align: center;
}

/* Buttons */

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-yellow {
    color: #000;
    background-color: #fcf05a;
    border-color: #ffc107;
}

.btn-yellow:hover {
    background-color: #ffc107;
}

.btn-pink {
    color: #000;
    background-color: #fb99fa;
    border-color: #d199fa;
}

.btn-pink:hover {
    color: #fff;
    background-color: #9e55d4;
}

.btn {
    width: 8rem;
}


/* Cards */
.card-container .card-text {
    font-family: var(--font-cursive);
}

.crumbs-container {
    border-bottom: 1px solid var(--color-pink);
}

.card-img-top {
    height: 25vh;
    object-fit: cover;
}

/* Forms */
.form-group {
    padding-bottom: 20px;
}

/* Modal */

.card-footer ul {
    list-style: none;
    padding-left: 0;
}

.card-footer li {
    position: relative;
    padding-left: 2.5rem;
    /* space to preserve indentation on wrap */
}

.card-footer li:before {
    content: '';
    /* placeholder for the SVG */
    position: absolute;
    left: 0;
    /* place the SVG at the start of the padding */
    width: 1.5rem;
    height: 1.5rem;
    background: url(../media/rainbow.svg) center;
    background-size: cover;
    transform: translate(0, 10%);
}

.card-footer.bg-white.border-0 {
    padding-bottom: 1rem;
}