{% extends "flask_user_layout.html" %}
{% block extra_title %} - Add Venue{% endblock %}
{% block content %}

<div class="container">
    <form action="{{ url_for('save_venue') }}" method="POST" class="col s12">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="mb-3 form-check">
            <label for="name" class="form-label">Venue Name</label>
            <input id="name" name="name" type="text" maxlength="200" required aria-describedby="Venue Name" required>
            <div id="nameHelp" class="form-text">Please enter the name of the venue you wish to add.</div>
        </div>
        <div class="mb-3 form-check">
            <label for="type" class="form-label" aria-describedby="Address">Select Venue Type</label>
            <select id="type" name="type">
                <option disabled selected>Please select venue type.</option>
                {% for type in sorted_types %}
                <option value="{{type}}">{{type}}</option>
                {% endfor %}
            </select>
            <div id="typeHelp" class="form-text">Please select the venue type from the drop-down menu.</div>
        </div>
        <div class="mb-3 form-check">
            <label for="address" class="form-label">Address</label>
            <input id="address" name="address" type="text" maxlength="200" required aria-describedby="Address">
            <div id="addressHelp" class="form-text">Please enter the address of the venue you wish to add.</div>
        </div>
        <div class="mb-3 form-check">
            <label for="post_code" class="form-label">Post Code</label>
            <input id="post_code" name="post_code" type="text" maxlength="200" required aria-describedby="Post Code">
            <div id="postcodeHelp" class="form-text">Please enter the post code of the venue you wish to add.</div>
        </div>
        <div class="mb-3 form-check">
            <label for="city" class="form-label">City</label>
            <input id="city" name="city" type="text" maxlength="200" required aria-describedby="City">
            <div id="cityHelp" class="form-text">Please enter the city of the venue you wish to add.</div>
        </div>
        <div class="mb-3 form-check">
            <label for="country" class="form-label">Country</label>
            <input id="country" name="country" type="text" maxlength="200" required aria-describedby="Country">
            <div id="countryHelp" class="form-text">Please enter the country of the venue you wish to add.</div>
        </div>

        <div class="row">
            <button class="btn btn-primary" type="submit" name="action">Add Venue
            </button>
        </div>
    </form>
</div>
{% endblock %}