{% extends "flask_user_layout.html" %}
{% block extra_title %} - Add Venue{% endblock %}
{% block content %}

<div class="container">
    <form action="{{ url_for('save_review', id=id) }}" method="POST" class="col s12">
        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
        <div class="mb-3 form-check">
            <label for="text_field" class="form-label">Review</label>
            <textarea id="text_field" name="text_field" maxlength="2000"
            class="form-control" required aria-describedby="Review text area"></textarea>
            <div id="text_fieldHelp" class="form-text">Please enter your review of this venue.</div>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="rainbow_flag">Rainbow Flag</label>
            <input class="form-check-input" type="checkbox" id="rainbow_flag" name="rainbow_flag"
                aria-describedby="Rainbow Flag">
            <div id="rainbow_flagHelp" class="form-text">Rainbow Flag (true LGBTQ+ supporter).</div>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="identity">Welcoming</label>
            <input class="form-check-input" type="checkbox" id="welcoming" name="welcoming" aria-describedby="Welcoming">
            <div id="welcomingHelp" class="form-text">Respect identity, use of preferred pronouns, gender-neutral
                facilities?</div>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="diverse">Program Focus</label>
            <input class="form-check-input" type="checkbox" id="program_focus" name="program_focus"
                aria-describedby="Program Focus">
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="tags_LGBTQ">Tag: LGBTQ+</label>
            <input class="form-check-input" type="checkbox" id="tags_LGBTQ" name="tags_LGBTQ"
                aria-describedby="tags_LGBTQ">
            <div id="lgbtqHelp" class="form-text">Tag: LGBTQ+ friendly?</div>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="tags_Trans">Tag: Trans</label>
            <input class="form-check-input" type="checkbox" id="tags_Trans" name="tags_Trans"
                aria-describedby="tags_Trans">
            <div id="transHelp" class="form-text">Tag: Trans friendly?</div>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="tags_Youth">Tag: Youth</label>
            <input class="form-check-input" type="checkbox" id="tags_Youth" name="tags_Youth"
                aria-describedby="tags_Youth">
            <div id="lgbtqHelp" class="form-text">Tag: Youth-focused?</div>
        </div>
        <div class="form-check form-switch">
            <label class="form-check-label" for="tags_Shelter">Tag: Shelter</label>
            <input class="form-check-input" type="checkbox" id="tags_Shelter" name="tags_Shelter"
                aria-describedby="tags_Shelter">
            <div id="lgbtqHelp" class="form-text">Tag: Provides shelter?</div>
        </div>

        <div class="row">
            <button class="btn btn-pink" type="submit" name="action"><i class="fa fa-plus" aria-hidden="true"></i> Add Review
            </button>
        </div>
    </form>
</div>
{% endblock %}