{% extends "flask_user_layout.html" %}
{% block extra_title %} - Add Venue{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 mx-auto mb-3">
            <h2>Add Venue</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-8 mx-auto">
            <form action="{{ url_for('save_venue') }}" method="POST" class="col s12">
                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                <div class="mb-3 form-floating">
                    <input id="name" class="form-control" name="name" type="text" placeholder="Name" maxlength="200" autocomplete="off" required aria-describedby="Venue Name" required>
                    <label for="name">Venue Name</label>
                    <!-- <div id="nameHelp" class="form-text">Please enter the name of the venue you wish to add.</div> -->
                </div>
                <div class="mb-3 form-floating">
                    <select id="venue_type" class="form-select" name="venue_type">
                        <option disabled selected>...</option>
                        {% for type in sorted_types %}
                        <option value="{{type}}">{{type}}</option>
                        {% endfor %}
                    </select>
                    <label for="venue_type" class="form-label" aria-describedby="Address">Select Venue Type</label>
                    <!-- <div id="typeHelp" class="form-text">Please select the venue type from the drop-down menu.</div> -->
                </div>
                <div class="mb-3 form-floating">
                    <input id="address" class="form-control" name="address" type="text" placeholder="Address" maxlength="200" required aria-describedby="Address">
                    <label for="address" class="form-label">Address</label>
                    <!-- <div id="addressHelp" class="form-text">Please enter the address of the venue you wish to add.</div> -->
                </div>
                <div class="mb-3 form-floating">
                    <input id="post_code" class="form-control" name="post_code" type="text" placeholder="Post Code" maxlength="200" required aria-describedby="Post Code">
                    <label for="post_code" class="form-label">Post Code</label>
                    <!-- <div id="postcodeHelp" class="form-text">Please enter the post code of the venue you wish to add.</div> -->
                </div>
                <div class="mb-3 form-floating">
                    <input id="city" class="form-control" name="city" type="text" placeholder="City" maxlength="200" required aria-describedby="City">
                    <label for="city" class="form-label">City</label>
                    <!-- <div id="cityHelp" class="form-text">Please enter the city of the venue you wish to add.</div> -->
                </div>
                <div class="mb-3 form-floating">
                    <input id="country" class="form-control" name="country" type="text" placeholder="Country" maxlength="200" required aria-describedby="Country">
                    <label for="country" class="form-label">Country</label>
                    <!-- <div id="countryHelp" class="form-text">Please enter the country of the venue you wish to add.</div> -->
                </div>
                <div class="mb-3 form-floating">
                    <input id="url" class="form-control" name="url" type="url" placeholder="URL" maxlength="250" aria-describedby="URL">
                    <label for="url" class="form-label">URL</label>
                    <!-- <div id="urlHelp" class="form-text">Please enter the URL (website address) of the venue you wish to add.</div> -->
                </div>
                <button class="btn btn-pink" type="submit" name="action"><i class="fa fa-plus" aria-hidden="true"></i> Add Venue</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}