{% extends "flask_user_layout.html" %}
{% block content %}
<div class="container">
    <h6>
        {% if call_or_get(current_user.is_authenticated) %}
        Home
        {% else %}
        <a href="{{ url_for('home_page')}}">Home</a>
        {% endif %}
        &nbsp; > &nbsp;<a href="{{ url_for('main_page') }}">Member's Page</a>
    </h6>
    {% if call_or_get(current_user.is_authenticated) %}
    <a href="{{ url_for('add_venue')}}">Add Venue</a>
    {% endif %}
    <table>
        <tr class="white-text blue darken-4">
            <th>Name</th>
            <th>Type</th>
            <th>Address</th>
            <th>Post Code</th>
            <th>City</th>
            <th>Country</th>
            <th>URL</th>
        </tr>
        {% for venue in venues_list %}
        <tr class="{{loop.cycle('white','blue-grey lighten-5')}}">
            <td>Click on link to add a review of: <a href="{{url_for('add_review', id=venue.id)}}">{{venue.name}}</a></td>
            <td>{{venue.type}}</td>
            <td>{{venue.address}}</td>
            <td>{{venue.post_code}}</td>
            <td>{{venue.city}}</td>
            <td>{{venue.country}}</td>
            <td><a href="{{venue.url}}" target="_blank" rel="noopener">{{venue.url}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
